<font face="微软雅黑" size=4 color=#A52A2A >
作業2

In [1]:
import os#更改路徑
import numpy as np
import pandas as pd

In [2]:
dir_data = "./data/"
f_app_train = os.path .join(dir_data,"application_train.csv")
f_app_test = os.path .join(dir_data,"application_test.csv")

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

In [3]:
app_train.dtypes.value_counts()#各欄位各類別數量

float64    65
int64      41
object     16
dtype: int64

In [4]:
#檢視資料中類別型欄位各自類別的數量
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)#若以多個類型，則該行被視為object
#apply對整行做function

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
app_train['CODE_GENDER']

0         M
1         F
2         M
3         F
4         M
5         M
6         F
7         M
8         F
9         M
10        F
11        F
12        F
13        M
14        F
15        M
16        M
17        F
18        F
19        F
20        M
21        F
22        F
23        F
24        M
25        F
26        F
27        M
28        M
29        M
         ..
307481    M
307482    F
307483    F
307484    F
307485    F
307486    F
307487    M
307488    F
307489    F
307490    M
307491    M
307492    M
307493    F
307494    M
307495    M
307496    F
307497    F
307498    M
307499    F
307500    F
307501    F
307502    F
307503    F
307504    F
307505    F
307506    M
307507    F
307508    F
307509    F
307510    F
Name: CODE_GENDER, Length: 307511, dtype: object

In [14]:
#Create an Encoder object
le = LabelEncoder()
le_count = 0

#iterate through the columns

for col in app_train:
    if app_train[col].dtype == 'object':
        if len(list(app_train[col].unique()))<=2:
            le.fit(app_train[col])
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
        
            le_count +=1
        
        
        
print('%d columns were label encoded.' % le_count)

0 columns were label encoded.

In [15]:
#one hot encoding
app_train=pd.get_dummies(app_train)
app_test=pd.get_dummies(app_test)

print(app_train['CODE_GENDER_F'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8

In [17]:
app_train = pd.read_csv(f_app_train)
sub_train = pd.DataFrame(app_train["WEEKDAY_APPR_PROCESS_START"])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [18]:
#部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化
sub_train=pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0